## Imports

In [2]:
import numpy as np
import pandas as pd

## From NumPy arrays

In [3]:
import numpy as np
np.random.seed(42)
data = np.random.randint(0,101,(6,4))
data

array([[51, 92, 14, 71],
       [60, 20, 82, 86],
       [74, 74, 87, 99],
       [23,  2, 21, 52],
       [ 1, 87, 29, 37],
       [ 1, 63, 59, 20]])

In [4]:
data[0]

array([51, 92, 14, 71])

In [5]:
students_df = pd.DataFrame(data=data)

In [6]:
type(students_df)

pandas.core.frame.DataFrame

In [7]:
students_df

    0   1   2   3
0  51  92  14  71
1  60  20  82  86
2  74  74  87  99
3  23   2  21  52
4   1  87  29  37
5   1  63  59  20

In [8]:
students = ['Amy','Bob','Chris','Dave','Evelyn','Fanny']
cols = ['Week1','Week2','Week3','Week4']

In [9]:
students_df = pd.DataFrame(data=data,index=students,columns=cols)

In [10]:
students_df

        Week1  Week2  Week3  Week4
Amy        51     92     14     71
Bob        60     20     82     86
Chris      74     74     87     99
Dave       23      2     21     52
Evelyn      1     87     29     37
Fanny       1     63     59     20

In [13]:
students_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, Amy to Fanny
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Week1   6 non-null      int64
 1   Week2   6 non-null      int64
 2   Week3   6 non-null      int64
 3   Week4   6 non-null      int64
dtypes: int64(4)
memory usage: 240.0+ bytes

## From a dictionary

In [14]:
data_dict = {}
students = ['Amy','Bob','Chris','Dave','Evelyn','Fanny']
for student,student_data in zip(students,data):
  data_dict[student] = student_data

In [16]:
students_df = pd.DataFrame.from_dict(data_dict,orient='index')
students_df

         0   1   2   3
Amy     51  92  14  71
Bob     60  20  82  86
Chris   74  74  87  99
Dave    23   2  21  52
Evelyn   1  87  29  37
Fanny    1  63  59  20

In [17]:
students_df = pd.DataFrame.from_dict(data_dict,orient='index',columns=cols)
students_df

        Week1  Week2  Week3  Week4
Amy        51     92     14     71
Bob        60     20     82     86
Chris      74     74     87     99
Dave       23      2     21     52
Evelyn      1     87     29     37
Fanny       1     63     59     20

## Read in data from a CSV file

In [23]:
students_df = pd.read_csv('/content/students.csv',names=cols)
students_df

        Week1  Week2  Week3  Week4
Amy        51     92     14     71
Bob        60     20     82     86
Chris      74     74     87     99
Dave       23      2     21     52
Evelyn      1     87     29     37
Fanny       1     63     59     20

## Selecting Rows and Columns

In [24]:
week1_df = students_df['Week1']
week1_df

Amy       51
Bob       60
Chris     74
Dave      23
Evelyn     1
Fanny      1
Name: Week1, dtype: int64

In [25]:
odd_weeks = students_df[['Week1','Week3']]
odd_weeks

        Week1  Week3
Amy        51     14
Bob        60     82
Chris      74     87
Dave       23     21
Evelyn      1     29
Fanny       1     59

In [26]:
odd_index_rows = students_df.iloc[[1,3,5]]
odd_index_rows

       Week1  Week2  Week3  Week4
Bob       60     20     82     86
Dave      23      2     21     52
Fanny      1     63     59     20

In [27]:
slice1 = students_df.iloc[0:3]
slice1

       Week1  Week2  Week3  Week4
Amy       51     92     14     71
Bob       60     20     82     86
Chris     74     74     87     99

In [28]:
some_rows = students_df.loc[['Bob','Dave','Fanny']]
some_rows

       Week1  Week2  Week3  Week4
Bob       60     20     82     86
Dave      23      2     21     52
Fanny      1     63     59     20

In [29]:
subset_df1 = students_df.iloc[:,[2,3]]
subset_df1

        Week3  Week4
Amy        14     71
Bob        82     86
Chris      87     99
Dave       21     52
Evelyn     29     37
Fanny      59     20

In [30]:
subset_df2 = students_df.loc[['Amy','Evelyn'],['Week1','Week3']]
subset_df2

        Week1  Week3
Amy        51     14
Evelyn      1     29